<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="person" class="com.yuceyi.di.Person">
	    <property name="pid" value="1"></property>
	    <property name="pname" value="vae"></property>
	    <property name="students">
		<ref bean="student"/>
	    </property>
	     
	    <property name="lists">
		<list>
		    <value>1</value>
		    <ref bean="student"/>
		    <value>vae</value>
		</list>
	    </property>
	     
	    <property name="sets">
		<set>
		    <value>1</value>
		    <ref bean="student"/>
		    <value>vae</value>
		</set>
	    </property>
	     
	    <property name="maps">
		<map>
		    <entry key="m1" value="1"></entry>
		    <entry key="m2" >
			<ref bean="student"/>
		    </entry>
		</map>
	    </property>   
	     
	    <property name="properties">
		<props>
		    <prop key="p1">p1</prop>
		    <prop key="p2">p2</prop>
		</props>
	    </property>  
	     
	</bean>
	 
	 
	<bean id="student" class="com.yuceyi.di.Student">
	    <property name="sname" value="st"></property>
	</bean>

    <bean id="person_con" class="com.yuceyi.di.Person">
        <constructor-arg index="0" type="java.lang.Long" value="1">
        </constructor-arg>       
        <constructor-arg index="1" type="com.yuceyi.di.Student" ref="student_con"></constructor-arg>
    </bean>
    <bean id="student_con" class="com.yuceyi.di.Student">
	   <property name="sname" value="st_conn"></property>
    </bean>
</beans>
